
<!-- Footer -->
<footer class="page-footer font-small indigo" style="padding:35px 0px">
  <app-divider></app-divider>

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class=" text-uppercase mt-3 mb-4">FLAUNT</h5>
  
          <ul class="list-unstyled">
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">


        <div class="col-md-2 mx-auto">
  
            <!-- Links -->
            <h5 class="  text-uppercase mt-3 mb-4">READ</h5>
    
            <ul class="list-unstyled">
                <li>
                  <a href="#!">FASHION</a>
                </li>
                <li>
                  <a href="#!">BEAUTY</a>
                </li>
                <li>
                  <a href="#!">LIFE STYLE</a>
                </li>
                <li>
                  <a href="#!">ASK SXS</a>
                </li>
                <li>
                  <a href="#!">PARTIES & EVENTS</a>
                </li>
                <li>
                  <a href="#!">BLOGS</a>
                </li>
              </ul>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class=" text-uppercase mt-3 mb-4">WATCH</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">SXS TV</a>
            </li>
            <li>
              <a href="#!">INTERVIEW</a>
            </li>
            <li>
              <a href="#!">C CHANNEL</a>
            </li>
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class=" text-uppercase mt-3 mb-4">SHOP</h5>
  
          <ul class="list-unstyled">
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 mx-auto">
  
          <!-- Links -->
          <h5 class=" text-uppercase mt-3 mb-4">STYLE:WEDDINGS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">SW EVENTS</a>
            </li>
          </ul>

          <h4 class=" text-uppercase mt-3 mb-4">CHRITY AUCTION</h4>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->

      
  
    </div>
    <!-- Footer Links -->
  
  </footer>
  <!-- Footer -->
