.fa {
  padding: 20px;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
  margin: 2px 2px;
  border-radius:50%
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook,.fa-twitter, .fa-youtube, .fa-instagram {
  background: #0a0a0a;
  color: white;
}

.heading{
    font-family: 'FontAwesome';
    letter-spacing: 2px;
    font-size: 25px;
}
.social{
  display: flex;
  justify-content: space-around;
}
